.scrollUp {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: inline-flex;
    padding: .5rem;
    background-color: var(--first-color);
    border-radius: .25rem;
    opacity: 0.8;
    transition: .4s;
    z-index: var(--z-tooltip);
    &:hover {
        opacity: 1;
        background-color: var(--first-color);
    }
    &__icon {
        font-size: 1.25rem;
        color: var(--title-color);
    }
}
/*Show scroll*/
.scroll-up {
    bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
    &-thumb {
        border-radius: .5rem;
        background-color: var(--scroll-thumb-color);
        &:hover {
            background-color: var(--text-color-light);
        }
    }
}